# KMeans(Airlines)

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

# ImportDataset

In [2]:
air = pd.read_csv("EastWestAirlines.csv")
air.head(6)

,ID#,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
0,1,28143,0,1,1,1,174,1,0,0,7000,0
1,2,19244,0,1,1,1,215,2,0,0,6968,0
2,3,41354,0,1,1,1,4123,4,0,0,7034,0
3,4,14776,0,1,1,1,500,1,0,0,6952,0
4,5,97752,0,4,1,1,43300,26,2077,4,6935,1
5,6,16420,0,1,1,1,0,0,0,0,6942,0

# EDA

In [3]:
air.shape

(3999, 12)

In [4]:
air.isna().sum()

ID#                  0
Balance              0
Qual_miles           0
cc1_miles            0
cc2_miles            0
cc3_miles            0
Bonus_miles          0
Bonus_trans          0
Flight_miles_12mo    0
Flight_trans_12      0
Days_since_enroll    0
Award?               0
dtype: int64

In [5]:
air.duplicated().sum()

0

In [6]:
air.dtypes

ID#                  int64
Balance              int64
Qual_miles           int64
cc1_miles            int64
cc2_miles            int64
cc3_miles            int64
Bonus_miles          int64
Bonus_trans          int64
Flight_miles_12mo    int64
Flight_trans_12      int64
Days_since_enroll    int64
Award?               int64
dtype: object

# Data Preparation

In [7]:
air1 = air.drop(labels = "ID#",axis=1 )
air1.head(5)

,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
0,28143,0,1,1,1,174,1,0,0,7000,0
1,19244,0,1,1,1,215,2,0,0,6968,0
2,41354,0,1,1,1,4123,4,0,0,7034,0
3,14776,0,1,1,1,500,1,0,0,6952,0
4,97752,0,4,1,1,43300,26,2077,4,6935,1

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
st_scaler = StandardScaler()
air_scaler = st_scaler.fit_transform(air1)

In [10]:
air_scaler = pd.DataFrame(data=air1,columns=['Balance','Qual_miles','cc1_miles','cc2_miles','cc3_miles','Bonus_miles','Bonus_trans','Flight_miles_12mo','Flight_trans_12','Days_since_enroll','Award?'])
air_std.head(6)

NameError: name 'air_std' is not defined

In [ ]:
wcss = []
for i in range(1,20):
    kmeans = KMeans(n_clusters =i,random_state=0)
    kmeans.fit(air_std)
    wcss.append(kmeans.inertia_)
    
plt.plot(range(1,20),wcss)
plt.title('Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

# Model Building and Model Training

In [ ]:
k_model = KMeans(4, random_state=42)
k_model.fit(air_std)

In [ ]:
y_km = k_model.fit_predict(air_scaler)
y_km

In [ ]:
clust = pd.DataFrame(y_km,columns=['clusters'])
clust.head(6)

In [ ]:
air['cluster']=clust
air.head(6)

In [ ]:
air['cluster'].value_counts()

In [ ]:
air[air['cluster']==0]

In [ ]:
air[air['cluster']==1]

In [ ]:
air[air['cluster']==2]

In [ ]:
air[air['cluster']==3]

In [ ]:
air.groupby(by='cluster').agg(['mean']).reset_index()

In [ ]:
plt.figure(figsize=(15,8))
sns.scatterplot(air['cluster'],air['Balance'],c=k_model.labels_)
plt.show()